.GamePage {
    display: flex;
    flex-flow: column nowrap;
}
  
.GamePage-game {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #E4D9CA;
    
}
  
.GamePage-controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border: 5vw solid #1A67E5;
    box-shadow: 5px 10px #2957A1;
}
  
.GamePage-nav {
    width: 115px;
}

.GamePage-button {
    margin: 10px 10px 0;
}

.divider {
    width: 2vw;
    background-color: #1A67E5;
    box-shadow:5px 10px #2957A1;
    padding-top: 5vh;
}

.divider p {
    color: #D0D0D0;
}
  
  